<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @rant.title %>
</p>

<p>
  <strong>Gaijintag:</strong>
  <%= @rant.gaijintag %>
</p>

<p>
  <strong>Content:</strong>
  <%= @rant.content %>
</p>
<%= render partial: "comments/comments", locals: {commentable: @rant} %>
<%= render partial: "comments/form", locals: {commentable: @rant} %>
<%= link_to 'Edit', edit_rant_path(@rant) %> |
<%= link_to 'Back', rants_path %>
